#form-div {
    border: 2px solid black;
    display: inline-grid;
    width: 25%;
    margin-left: 2%;
    padding: 10px;

}

#results-div {
    border: 2px solid black;
    display: inline-grid;
    width: 60%;
    margin-left: 2%;
}

.entry-div {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    margin-top:4px;
    width:50%;
    text-align:center;
    background-color:rgb(35, 152, 142);
}